page-add-task {

    .taskDiv{
        border-color:orange;
    }

    ion-item{
        height:80%;
        
    }
    .validateDiv{
        font-size: 0.8;
    }

    .labelCss{
        color:black;
        padding-left:5%;
    }
    }
